@import "tailwindcss";

@font-face {
  font-family: "Cormorant";
  src: url("/fonts/Cormorant-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer components {
    .contact-form__label {
        @apply block text-xl md:text-2xl
    }

    .contact-form__input {
        @apply w-full text-xl md:text-2xl border-b-2 border-b-[#1A202C] focus:outline-0 focus:border-b-blue-400
    }

    .contact-form__submit {
        @apply block mx-auto bg-[#787872] font-nunito text-sm md:text-base text-center text-white tracking-[1em] rounded-xs uppercase pl-4 pr-2 py-2 cursor-pointer shadow-[15px_4px_4px_rgba(0,0,0,0.25)]
    }

    .contact-form__required {
        @apply text-[#B32D2E]
    }
}

@theme {
  --font-cormorant: 'Cormorant', 'serif';
  --font-playfair-display: 'Playfair Display', 'serif';
  --font-nunito: 'Nunito', 'serif';
}