---
import Section from "./Section.astro"
---

<Section Id="seccion_5" AddPadding={false}>
    <div class="flex flex-col justify-center items-center">
        <div class="w-full bg-rose-700/[37.5%] text-center py-32 px-3">
            <p class="font-cormorant text-pink-900/100 text-2xl sm:text-4xl">"Hablar es el primer paso para sanar."</p>
        </div>
    </div>
</Section>