---
import Section from "./Section.astro"
---

<Section Id="seccion_2" AddPadding={true} Class="border-b-9 border-neutral-500/30">
    <div class="flex flex-col justify-center items-center gap-7 p-4 sm:flex-row ">
        <!--Imagen-->
        <!-- <img class="h-auto max-w-sm md:max-w-lg" src="https://img.freepik.com/free-vector/online-library-isometric-design_98292-34.jpg"  alt="image description">-->
        <img class="w-[270px] h-[379px] drop-shadow-2xl" src="https://img.freepik.com/free-vector/online-library-isometric-design_98292-34.jpg"  alt="image description">
        <!--Columna Derecha-->
        <div class="w-[425px] flex flex-col justify-center items-center text-center py-11">
        <!--Información -->
        <div class="flex flex-col justify-center items-center gap-y-3 pb-10">
            <p class="font-cormorant text-sky-500 text-2xl sm:text-4xl">Tu Psicóloga de confianza.</p>
            <hr class="w-[25%]">
        </div>

        <p class="font-cormorant text-pink-900/100 drop-shadow-lg text-2xl pb-8 mb-3 border-1 border-black w-full sm:text-4xl">Elena Dorantes.</p>

        <div class="flex flex-col justify-center items-center pb-8">
        <img class="h-auto max-w-[50px]" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6qgXcOr1QqkHiPQJ4BkMOEXMWP_yn5qx36A&s"  alt="image description">
        <div class="font-playfair-display text-gray-700 text-base/8">
            <p>Psicóloga especializada en Terapia Cognitivo-Conductual(TCC).</p>
            <p>Trabajo desde una prespectiva práctica, basada en evidencia, acompañando a cada persona a identificar y transformar patrones de pensamiento y comportamiento que interfieren con su bienestar.</p>
            <p>Complemento mi trabajo con técnicas de relajación y manejo de estrés, ofreciendo herramientas concretas para recuperar el equilibrio emocional y mejorar la calidad de vida.</p>
            <p>Mi espacio terapéutico es seguro, empático y libre de juicio. Cada proceso es único y se adapta a tus necesidades.</p>
        </div>
        </div>
        <div class="px-3 py-2 bg-sky-400/30 border-1 border-black rounded-sm tracking-[4px]">
            <p class="font-nunito text-base drop-shadow-lg">CONFÍA EN EL PROCESO!</p>
        </div>
        </div>
    </div>
</Section>