---
---

<section id="servicios_4_1" class="flex flex-col justify-center items-center w-5/6 min-w-xs	 ml-auto mr-auto">
	<h1 class="text-blue-600 uppercase text-center text-3xl">Servicios</h1>
	<div class="flex flex-row gap-2.5 justify-center items-center my-3">
		<img 
		src="https://static.vecteezy.com/system/resources/thumbnails/023/630/280/small/human-brain-with-transparent-background-png.png" 
		alt="Cerebro"
		class="w-1/5 min-w-16 h-auto">
		<div class="flex-col">
			<h3 class="text-red-500 text-center text-2xl">Depresion</h3>
			<p>La triesteza, la falta de esperanza, la desconexion.</p>
			<p>Si te encuentras en ese lugar oscuro,quiero ofrecerte un espacio serguro para empezar
				a sanar.
			</p>
			<p>Escribeme cuando sientas que estas listo(a)</p>
		</div>
	</div>
	<div class="flex flex-row-reverse gap-2.5 justify-center items-center my-3" id="ansiedad">
		<img 
		src="https://static.vecteezy.com/system/resources/thumbnails/023/630/280/small/human-brain-with-transparent-background-png.png" 
		alt="Cerebro" class="w-1/5 min-w-16">
		<div class="flex-col flex w-3/4">
			<h3 class="text-center text-blue-600 text-2xl">Ansiedad</h3>
			<p>La ansiedad no te deja respirar tranquilo?</p>
			<p>A veces la mente o se detiene, el corazon se acelera y todo
				parece demasiado...
			</p>
			<p>No tienes que enfrentarlo solo(a). Estoy aqui para esccharte y ayudarte a recuperar tu calma.</p>
		</div>
	</div>
</section>

<style>
	/* #container {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.servicios {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	} */
	/* .servicios > h1 { */
		/* text-transorm: uppercase; */
		/* color: be
		font-size:1rem;
	
	.servicio {
		display: flex;
		flex-direction: row;
		gap: 5vw;
		margin: 5px 0;
		justify-content: center;
		align-items: center;
		align-self: center;
		font-size: 0.9rem;
	}
	.servicio h3 {
		font-size: 1.2rem;
		text-align: center;
	}
	.servicio img {
		width: 20vw;
		height: 20vw;
	}
	.servicio > div{
		display: flex;
		flex-direction: column;
	} */		
</style>
