---
import Image from "astro/components/Image.astro"
import CerebroAzulImage from "../assets/Cerebro_Azul.svg"
import CerebroRojoImage from "../assets/Cerebro_Rojo.svg"
import Section from "./Section.astro"
---

<Section Id="seccion_4_1" Class="my-auto font-playfair-display" AddPadding={true}>
	<div class="flex flex-col justify-center items-center w-5/6 min-w-xs	 ml-auto mr-auto">
		<h1 style="color: #0597F2" class="uppercase text-center text-3xl">Servicios</h1>
		<div class="flex flex-row gap-2.5 justify-center items-center my-3">
			<Image 
			src={CerebroRojoImage}
			alt="Cerebro"
			class="w-1/6 min-w-16 h-auto" />
			<div class="flex-col">
				<h3 style="color: #BF1F3C" class="text-center text-3xl">Depresion</h3>
				<p>La triesteza, la falta de esperanza, la desconexion.</p>
				<p>Si te encuentras en ese lugar oscuro,quiero ofrecerte un espacio serguro para empezar
					a sanar.
				</p>
				<p>Escribeme cuando sientas que estas listo(a)</p>
			</div>
		</div>
		<div class="flex flex-row-reverse gap-2.5 justify-center items-center my-3" id="ansiedad">
			<Image 
			src={CerebroAzulImage} 
			alt="Cerebro" 
			class="w-1/6 min-w-16" />
			<div class="flex-col flex w-3/4">
				<h3 style="color: #0597F2;" class="text-center text-3xl">Ansiedad</h3>
				<p>La ansiedad no te deja respirar tranquilo?</p>
				<p>A veces la mente o se detiene, el corazon se acelera y todo
					parece demasiado...
				</p>
				<p>No tienes que enfrentarlo solo(a). Estoy aqui para esccharte y ayudarte a recuperar tu calma.</p>
			</div>
		</div>

	</div>
</Section>