---                              
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'  
---   
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<meta property="og:description" content="Psicología enfocada en terapia cognitivo-conductual enfocada a tus necesidadess.">
		<meta property="og:title" content="Atención psicológica"></meta>
		<meta property="og:url" content="https://elenadorantes.com/"/>
		<meta property="og:image" content="favicon.jpg"/>
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="300" />
		<meta property="og:image:alt" content="logo psyche" />
		<meta property="og:type" content="website"/>
		<script is:inline src="/scripts/mask.min.js"></script>
		<script is:inline src="/scripts/sweetalert.min.js"></script>

		<title>Atención psicológica</title>
		<meta name="description" content="Psicología enfocada en terapia cognitivo-conductual enfocada a tus necesidadess.">
		<meta name="keywords" content="psicologia, salud, salud, mexicali, psicologo, terapia" />
	</head>
	<body id="top" class="min-h-screen w-full m-0 flex flex-col justify-between relative">
		<Header />
		<main class="bg-white">
			<slot />
		</main>
		<Footer />
	</body>
</html>